a{
	text-decoration: none;
	color: #333;
}
body{
	background-color: #efefef;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
/*头部开始*/
.header{
	background-color: #06c1ae;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
}
.header h1{
	font-size: 26px;
	text-indent: 30px;
	font-weight: bold;
}
.header .go-back{
	float: left;
	position: relative;
}
.header .go-back .arrow{
	border: 10px solid transparent;
	border-right-color: #fff;
	position: absolute;
	left: 2px;
	top: 21px;
}
.header .go-back .arrow.green{
	border-right-color: #06c1ae;
	left: -7px;
	top: -10px;
}
.header .login{
	float: right;
	margin-right: 10px;
}
.search{
	background-color: #fff;
	height: 50px;
	padding: 10px 20px 0px;
}
.search input{
	width: 100%;
	font-size: 14px;
	padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 20px;
	background-color: #efefef;
	box-sizing:border-box;
}

/*home样式*/
.home .nav{
	width: 100%;
	background-color: #fff;
	padding: 10px 0 10px;
	margin-bottom: 10px;
}
.home .nav li{
	float: left;
	width: 20%;
	text-align: center;
}
.home .nav li a img{
	width: 60%;
	margin: 0 auto;
}
.home .nav li a span{
	display: block;
	font-size: 12px;
	margin: 5px 0 10px;
}
.home .ad123{
	background-color: #fff;
	margin-bottom: 10px;
}
.home .ad123 li{
	float: left;
	width: 33.333333333%;
	padding: 15px 0;
	border-right: 1px solid #ccc;
	text-align: center;
	box-sizing:border-box;
}
.home .ad123 li:last-child{
	border-right: none;
}
.home .ad123 li img{
	width: 60%;
}
.home .ad123 li h3{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.home .ad123 li h3.color-0{
	color: red;
}
.home .ad123 li h3.color-1{
	color: green;
}
.home .ad123 li h3.color-2{
	color: purple;
}
.home .ad123 li p{
	font-size: 14px;
	margin-bottom: 10px;
}
.home .main {
	background-color: #fff;
	padding: 0 10px;
}
.home .main h3{
	font-size: 20px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.list{
	background-color: #fff;
	padding: 0 10px;
}
.list li{
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
}
.list li img{
	float: left;
	width: 100px;
	height: 60.5px;
	margin-right: 10px;
}
.list li h4{
	font-weight: bold;
	font-size: 14px;
	height: 44px;
}
.list li p{
	font-size: 12px;
	color: #666;
}
.list li p .price{
	color: #06c1ae;
}
.list li p .sales{
	float: right;
}

/*list样式*/
.list-page .order{
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.list-page .order li{
	float: left;
	width: 25%;
	font-size: 12px;
	line-height: 30px;
	border-right: 1px solid #ccc;
	box-sizing:border-box;
}
.list-page .order li:last-child{
	border-right: none;
}
.list-page .order li span.arrow{
	border: 4px solid transparent;
	border-top-color: #000;
	position: relative;
	left: 5px;
	top: 10px;
}
.list-page .show-others{
	height: 40px;
	background-color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #06c1ae;
	border-bottom: 1px solid #ccc;
}
.list-page .show-others .arrow{
	border: 10px solid transparent;
	border-top-color: #06c1ae;
	position: relative;
	left: 4px;
	top: 17px;
}
.list-page .show-others .arrow.withe{
	position: absolute;
	border-top-color: #fff;
	left: -10px;
	top: -13px;
}

/*detail样式*/
.detail .pic{
	position: relative;
	color: #fff;
}
.detail .pic img{
	width: 100%;
	display: block;
}
.detail .pic h2{
	position: absolute;
	font-size: 26px;
	font-weight: bold;
	left: 20px;
	bottom: 45px;
}
.detail .pic p{
	position: absolute;
	font-size: 16px;
	left: 20px;
	bottom: 20px;
}
.detail .detail-price{
	background-color: #fff;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}
.detail .detail-price .price{
	color: #06c1ae;
}
.detail .detail-price .price .num{
	font-size: 40px;
	line-height: 50px;
}
.detail .detail-price button{
	float: right;
	background-color: #f60;
	font-size: 12px;
	color: #fff;
	border: none;
	margin-top: 9px;
	padding: 6px 10px;
}
.detail .server{
	padding: 10px;
	background-color: #fff;
	margin-bottom: 10px;
}
.detail .server li{
	width: 50%;
	float: left;
	color: yellowgreen;
	line-height: 30px;
}
.detail .server li:last-child{
	color: #000;
}
.detail .information{
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}
.detail .information:last-child{
	margin-bottom: 0;
}
.detail .information h3{
	font-size: 24px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}
.detail .information .content{
	padding: 10px 0;
}
.detail .information .content p{
	line-height: 40px;
}
.detail .information .others{
	line-height: 30px;
	color: #06c1ae;
	border-top: 1px solid #ccc;
}
.detail .information h4{
	font-size: 20px;
	color: #f90;
    line-height: 50px;
}